# dependencies
node_modules/
.pnp/
.pnp.js
.env/

# testing
coverage/
.env/

# production
build/
dist/
out/
.env/

# misc
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
*.log
.env/

.idea/
.vscode
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
.env/
proyecto/.env
proyecto/frontend/.env
proyecto/uploads/
proyecto/backend/instance/


