# dependencies
node_modules/
.pnp/
.pnp.js

# Python
.venv/
instance/
*.db

# environment files
.env
.env.local
.env.*.local
.env.development
.env.production
.env.development.local
.env.production.local
proyecto/.env
proyecto/frontend/.env
proyecto/frontend/.env.development
proyecto/frontend/.env.production
proyecto/api/.env

# screenshots (keep only in README if needed)
*.png
*.jpg
*.jpeg
*.gif

# production
build/
dist/
out/

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.idea
.vscode
.vercel/


